$backgroundColor: #6ed3cf;
$titleColor: #e1e8f0;
$searchColor: #9068be;
$todoColor: #3b3a36;
$font: 'Quicksand', sans-serif;

*{
  padding: 0;
  margin: 0;
}

body{
  background-color: $backgroundColor;
}

h1{
  text-align: center;
  font-family: $font;
  font-size: 100px;
  color: $titleColor;
  padding-top: 45px;
  padding-bottom: 45px;
}

.shadow{
  -webkit-box-shadow: 0 4px 18px 4px rgba(0,0,0,0.2) ;
  box-shadow: 0 4px 18px 4px rgba(0,0,0,0.2) ;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
}

#list{
  span{
    font-size: 30px;
    position: absolute;
    position: top left;
    padding-top: 15px;
    padding-left: 15px;
  }
  input{
    width: 400px;
    -webkit-box-sizing: content-box;
    font-family: $font;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 15px 76px 15px 40px;
    border: 1px solid $backgroundColor;
    color: $searchColor;
    text-indent: 15px;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(255,255,255,1);
  }
}

#temp{
  color: $searchColor;
  border: 1px solid rgba(255,255,255,1);
  -webkit-box-sizing: content-box;
  font-family: $font;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-indent: 10px;
}

button:focus{
  outline: 0!important;
}

#items{
  padding-top: 25px;
  li{
    font-family: $font;
    color: $todoColor;
    list-style: none;
    padding: 15px 76px 15px 40px;
    word-wrap: break-word;
    border-bottom: 1px solid $backgroundColor;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding-left: 60px;
    font-size: 20px;
  }
  .deleteButton{
    color: #ff0000;
    font-size: 20px;
    border: none;
    text-decoration: none;
    background: white;
    opacity: 0.5;
    position: absolute;
    left: 335px;
  }
  .deleteButton:hover{
    opacity: 1;
  }
}

.card-design{
  background: rgba(255,255,255,1);
  width:518px;
  border-radius: 2px;
  margin: 0 auto;
}

.strike{
  text-decoration: line-through!important;
  opacity: 0.5!important;
}

@media only screen and (max-width:1199px){
  #items{
    .deleteButton{
      left: 245px;
    }
  }
}

#instruct{
  font-family: $font;
  font-size: 10px;
  padding-top: 24px;
}

@media only screen and (max-width:991px){
  #items{
    .deleteButton{
      left: 125px;
    }
  }
}

@media only screen and (max-width:767px){
  #items{
    .deleteButton{
      left: 35px;
    }
  }
}

@media only screen and (max-width:550px){
  .container h1{
    font-size: 75px!important;
  }
  .card-design{
    width: 85vw;
  }
  #items{
    .deleteButton{
      left: 12vw;
    }
  }
  #list{
    input{
      width: 63vw;
    }
  }
}

@media only screen and (max-width:400px){
  #list{
    input{
      width: 50vw;
    }
  }
}
